#Introduction to Python Programming 
By Farnaz Motamediyan
For Pink Programming

what is programming?:
Programming is the process of taking an algorithm(solution for a problem) and encoding it into a notation, a programming language, so that it can be executed by a computer. Although many programming languages and many different types of computers exist, the important first step is the need to have the solution. Without an algorithm there can be no program.

Data Types And Operators:

#Data Types: 
Integers, 
Floats, 
Booleans, 
Strings

#Operators: Arithmetic, Assignment, Comparison, Logical
Built-In Functions, Type Conversion
Whitespace and Style Guidelines

In [ ]:
#Data Types: Integers, Floats, Booleans, Strings
1
1.08
True
"Farnaz"

In [8]:
'farnaz motamediyan'

1.8

In [ ]:
False

In [ ]:
#integer
1
15
1067

In [ ]:
#Floats
1.0
15.098
1067.66

In [ ]:
#strings
"Hello"
"456"

In [9]:
#Operators:
1+2

3

In [ ]:
25-9

In [ ]:
25/5

In [ ]:
1.98*10-7/2+1

In [10]:
#Built-In Functions
print('hi')

hi

In [12]:
type('FARNAZ')

str

In [ ]:
print(type(1))
print(type("f"))
print(type(True))

In [ ]:
#quize:
#what do you think the type of 1.98 is?
type(1.98)

#Variables 
Variables are used to store information to be referenced and manipulated in a computer program.
They also provide a way of labeling data with a descriptive name, so our programs can be understood more clearly by the reader and ourselves. It is helpful to think of variables as containers that hold information.

In [ ]:
#Variables 
#a and x and name are variables
YEAR = 2019
x = 'Farnaz'
my_name = 'Farnaz'

In [14]:
my_name = 'Farnaz'

In [17]:
print(my_name)

Farnaz

In [19]:
my_age = 35

In [21]:
MY_AGE = 5

In [ ]:
print(type())

In [26]:
budget = int()

In [25]:
type(budget)

int

In [27]:
age = str(47)
type(age)

str

In [28]:
age

'47'

In [ ]:
#type convertion
#"2", better to have 2 as string
x = int("2")
print(type(x))

In [ ]:
y = str(2)
print(type(y))

#try it for yourself now

In [29]:
print(len('Farnaz Motamediyan Dehkordi'))

27

In [ ]:
#we are only experimenting here. skip this part,plz

In [30]:
#String Methods
len("this")
type("12")
print("Hello world")

Hello world

In [31]:
len("this")

4

In [32]:
name = "Hello world"
name.lower()

'hello world'

In [ ]:
#String Methods
"Hello world".lower()
"Hello world".count('o')

In [ ]:
#One important string method: format()
print("Farnaz has {} balloons".format(27))
farnaz_string = "Farnaz loves {} and {}"
print(farnaz_string.format("math","statistics"))

In [33]:
#String Methods
#.split()
new_str = "The cow jumped over the moon."
new_str.split()

['The', 'cow', 'jumped', 'over', 'the', 'moon.']

In [ ]:
#String Methods
#replace()
new_str_2 = "My.name.is.Farnaz"
new_str_2.replace('.', ' ')

In [ ]:
123,344
123.344

#Data structures: 
1)Lists, 
2)Tuples, 
3)sets, 
4)Dictionaries

#Lists!
Data structures are containers that organize and group data types together in different ways. A list is one of the most common and basic data structures in Python.
You saw here that you can create a list with square brackets. Lists can contain any mix and match of the data types you have seen so far.

In [34]:
list_of_random_things = [1, 3.4, 'a string', True]

In [ ]:
#quiz
# Write a list of 5 of your friends

In [ ]:
#index
print(list_of_random_things[2])
print(list_of_random_things[-1])

In [ ]:
#quiz
# return the first friend from your list of friends

In [ ]:
#Slice and Dice with Lists
list_of_random_things[1:2]

In [ ]:
list_of_random_things[:2]

In [ ]:
list_of_random_things[1:]

#Mutability and Order
Mutability is about whether or not we can change an object once it has been created. 
If an object (like a list or string) can be changed (like a list can), then it is called mutable. 
However, if an object cannot be changed with creating a completely new object (like strings), then the object is considered immutable.

Order is about whether the position of an element in the object can be used to access the element. Both strings and lists are ordered. We can use the order to access parts of a list and string.

In [35]:
#lists are mutable
my_lst = [1, 2, 3, 4, 5]
my_lst[0] = 'one'
print(my_lst)

['one', 2, 3, 4, 5]

In [ ]:
#strings are immutable
greeting = "Hello there"
greeting[0] = 'M'

In [ ]:
#Quiz: List Indexing
month = 10
days_in_month = [31,28,31,30,31,30,31,31,30,31,30,31]

# use list indexing to determine the number of days in month

In [ ]:
num_days = days_in_month[(10-1)]
print(num_days)

#lists methods
Useful Functions for Lists I
len() returns how many elements are in a list.
max() returns the greatest element of the list. How the greatest element is determined depends on what type objects are in the list. The maximum element in a list of numbers is the largest number. The maximum elements in a list of strings is element that would occur last if the list were sorted alphabetically. This works because the the max function is defined in terms of the greater than comparison operator. The max function is undefined for lists that contain elements from different, incomparable types.
min() returns the smallest element in a list. min is the opposite of max, which returns the largest element in a list.
sorted() returns a copy of a list in order from smallest to largest, leaving the list unchanged.

Useful Functions for Lists II
join method
Join is a string method that takes a list of strings as an argument, and returns a string consisting of the list elements joined by a separator string.

append method
A helpful method called append adds an element to the end of a list.

In [37]:
new_str = "\n".join(["fore", "aft", "starboard", "port"])
print(new_str)

fore
aft
starboard
port

In [36]:
name = "-".join(["García", "O'Kelly"])
print(name)

García-O'Kelly

In [38]:
letters = ['a', 'b', 'c', 'd']
letters.append('z')
print(letters)

['a', 'b', 'c', 'd', 'z']

In [ ]:
len(letters)

skip for now

#Tuples
A tuple is another useful container. It's a data type for immutable ordered sequences of elements. They are often used to store related pieces of information. Consider this example involving latitude and longitude:

location = (13.4125, 103.866667)
print("Latitude:", location[0])
print("Longitude:", location[1])

#Sets
A set is a data type for mutable unordered collections of unique elements. One application of a set is to quickly remove duplicates from a list.

In [ ]:
fruit = {"apple", "banana", "orange", "grapefruit"}  # define a set

print("watermelon" in fruit)  # check for element

fruit.add("watermelon")  # add an element
print(fruit)

print(fruit.pop())  # remove a random element
print(fruit)

skip for now

#Dictionaries
A dictionary is a mutable data type that stores mappings of unique keys to values. Here's a dictionary that stores elements and their atomic numbers.

In [ ]:
elements = {"hydrogen": 1, "helium": 2, "carbon": 6}
print(elements["helium"])  # print the value mapped to "helium"
elements["lithium"] = 3  # insert "lithium" with a value of 3 into the dictionary

In [ ]:
print("carbon" in elements)
print(elements.get("dilithium"))

#Control Flow:

Control flow is the sequence in which your code is run. Here, we'll learn about several tools in Python we can use to affect our code's control flow:

Conditional Statements
Boolean Expressions
For and While Loops
Break and Continue
Zip and Enumerate
List Comprehensions

In [41]:
#For and While Loops
list_numbers = [1,2,3,4]
for i in list_numbers:
    print(i+1)

2
3
4
5

In [42]:
list_numbers_new = [i+1 for i in list_numbers]

In [43]:
list_numbers_new

[2, 3, 4, 5]

In [39]:
names = ["Joey Tribbiani","Monica Geller","Chandler Bing","Phoebe Buffay"]
new_names = []
for name in names:
    name = name.lower().replace(" ", "_")
    new_names.append(name)

print(new_names)

['joey_tribbiani', 'monica_geller', 'chandler_bing', 'phoebe_buffay']

In [ ]:
new_names = [name.lower().replace(" ", "_") for name in names]

#list Comprehension 
list_plus_one = [1+i for i in [1,2,3,4]]

x = [1+i for i in range(10)]
only returns a list! should be used when we use for loops to create a new list

In [ ]:
#List Comprehensions
new_names = [i.lower().replace(" ", "_") for i in names]
print(names)

In [ ]:
#while
i = 0
while i<10:
    print(i)
    i= i + 1

In [ ]:
#functions
def return_number_two():
   # x = 2
    return(2)

In [ ]:
return_number_two()

In [44]:
#functions
def population_density(population,land_area):
    x = population/land_area
    return(x)

In [45]:
# test cases for your function
test1 = population_density(10, 1)
expected_result1 = 10
print("expected result: {}, actual result: {}".format(expected_result1, test1))

expected result: 10, actual result: 10.0

In [46]:
population_density(1000, 300)

3.3333333333333335

Quiz: readable_timedelta
Write a function named readable_timedelta. The function should take one argument, an integer days, and return a string that says how many weeks and days that is. For example, calling the function and printing the result like this:

In [ ]:
#skip for now
#quiz:
    
def readable_timedelta(days):
    # use integer division to get the number of weeks
    weeks = days // 7
    # use % to get the number of days that remain
    remainder = days % 7
    return "{} week(s) and {} day(s).".format(weeks, remainder)

# test your function
print(readable_timedelta(10))

In [ ]:
#quiz:

#Write a Python function to sum all the numbers in a list and return it as total.
quiz_list = [8, 2, 3, 0, 7]

In [ ]:
#answer

def sum(numbers):
    total = 0
    for x in numbers:
        total = total + x
    return total

In [ ]:
quiz_list = [8, 2, 3, 0, 7]
print(sum(quiz_list))

quiz:
Write a Python program that accepts a hyphen-separated sequence 
of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically. Go to the editor
Sample Items : green-red-yellow-black-white
Expected Result : black-green-red-white-yellow

answer:
 .split
 .join
 .sort

In [ ]:
items=[n for n in input().split('-')]
items.sort()
print('-'.join(items))

#pyhton for data analyses
pandas packages,

In [47]:
import pandas as pd

In [48]:
#df stands for dataframe
df = pd.read_csv('final_PINK.csv')

In [49]:
df.head()

,country_id,traffic_source_level_1,timestamp_month,SEK_IN_FOOD,SEK_IN_DRINKS,SEK_IN_SNACKS
0,BR,direct,2019-01-01,306.0,274.816132,125.433501
1,BR,direct,2019-02-01,158.0,141.898526,110.136732
2,BR,direct,2019-03-01,169.0,151.777537,127.832416
3,BR,direct,2019-04-01,193.0,173.331743,112.539000
4,BR,direct,2019-05-01,212.0,190.395490,117.726825

In [6]:
df.tail()

,country_id,traffic_source_level_1,timestamp_month,SEK_IN_FOOD,SEK_IN_DRINKS,SEK_IN_SNACKS
823,SE,partnerships,00:00.0,8.91,NaN,4.37
824,SE,partnerships,00:00.0,7.12,NaN,3.76
825,SE,partnerships,00:00.0,2.51,NaN,2.90
826,SE,partnerships,00:00.0,3.34,NaN,2.49
827,SE,partnerships,00:00.0,1.67,NaN,2.02

In [7]:
df.columns

Index(['country_id', 'traffic_source_level_1', 'timestamp_month',
       'SEK_IN_FOOD', 'SEK_IN_DRINKS', 'SEK_IN_SNACKS'],
      dtype='object')

In [50]:
df['SEK_IN_SNACKS']

0       125.433501
1       110.136732
2       127.832416
3       112.539000
4       117.726825
5       116.858382
6       122.673353
7       114.201634
8       131.517839
9       133.138678
10      154.416608
11      190.181220
12     1120.413578
13     1135.733081
14     1372.897904
15     1368.080135
16     1509.995606
17     1434.753096
18     1350.148924
19     1416.908324
20     1287.038250
21     1676.212298
22     1807.758628
23     1922.886136
24      764.838419
25      729.145959
26      832.972520
27      816.949781
28      755.828445
29      742.523982
          ...
798      20.570000
799      15.250000
800      21.140000
801      26.670000
802      32.930000
803      24.180000
804     369.280000
805     517.760000
806     727.520000
807     948.140000
808     951.800000
809     980.400000
810    1048.710000
811     878.040000
812     893.160000
813     781.200000
814     797.760000
815     867.930000
816       4.020000
817       3.660000
818       3.720000
819       6.030000
820       6.690000
821       6.620000
822       6.320000
823       4.370000
824       3.760000
825       2.900000
826       2.490000
827       2.020000
Name: SEK_IN_SNACKS, Length: 828, dtype: float64

In [ ]:
df['SEK_IN_SNACKS'][0]

In [ ]:
type(df['SEK_IN_SNACKS'][1])

In [52]:
df['traffic_source_level_1'][10]

'direct'

In [51]:
#we can choose only a few columns of a dataframe
df[['country_id','traffic_source_level_1','SEK_IN_DRINKS']].head()

  country_id traffic_source_level_1  SEK_IN_DRINKS
0         BR                 direct     274.816132
1         BR                 direct     141.898526
2         BR                 direct     151.777537
3         BR                 direct     173.331743
4         BR                 direct     190.395490

quiz to solve together:

I need to get the sum of SEK_IN_SNACKS group by countries and 'traffic_source_level_1'
I need to have countries, and then channels and then the sum of kycs

In [53]:
#group by country and then return an average of values in each column with numeric data
df.groupby(['country_id']).mean()

            SEK_IN_FOOD  SEK_IN_DRINKS  SEK_IN_SNACKS
country_id
BR          3871.361111    1968.370465     796.182613
DE           783.308889     293.150796     231.550182
DK           263.405833     107.323119      86.471148
ES           151.890556      28.500959      20.428019
FI           507.621806     282.729144     259.083325
FR          1029.954861     540.368616     259.356394
GB          4336.640556    2971.292474    1568.155053
IT            72.137639      19.513010      13.693435
MX          3227.554306    2121.748510    1091.211928
NL          1044.404167     499.378421     417.157878
NO           676.710833     315.121277     303.994722
SE           736.173750     304.503832     269.900909

In [54]:
##group by country and then return an sum of values only in SEK_IN_FOOD
df.groupby(['country_id'])['SEK_IN_FOOD'].sum()

country_id
BR    139369.00
DE     56398.24
DK     18965.22
ES     10936.12
FI     36548.77
FR     74156.75
GB    312238.12
IT      5193.91
MX    232383.91
NL     75197.10
NO     48723.18
SE     53004.51
Name: SEK_IN_FOOD, dtype: float64

In [ ]:
df.groupby(['country_id','traffic_source_level_1' ])['SEK_IN_SNACKS'].sum()

now, same exercise with SEK_IN_FOOD.
what is odd about it? do you know why?
lets try and see the type for SEK_IN_FOOD:

type(df['SEK_IN_FOOD'][0])
it is stgring, but we wanted it to be integer or float. a sort of number.
so now what?

In [ ]:
df['SEK_IN_FOOD'][0]

In [ ]:
type(df['SEK_IN_FOOD'][0])

In [ ]:
df['SEK_IN_FOOD'][0].replace(",", ".")

In [ ]:
len(df['SEK_IN_FOOD'])

we replaced one of the elements, but we need to change the whole dataset.
lets be more fancy, instead of a for loop we will use list Comprehension

In [ ]:
df['SEK_IN_FOOD'] = [df['SEK_IN_FOOD'][i].replace(",", ".") for i in range(len(df['SEK_IN_FOOD']))]

In [ ]:
#pandas.Series.astype

In [ ]:
df['SEK_IN_FOOD'] = df['SEK_IN_FOOD'].astype(float)

In [ ]:
x = df[['country_id','timestamp_month','traffic_source_level_1','SEK_IN_FOOD']].groupby(['country_id','traffic_source_level_1' ])['SEK_IN_FOOD'].sum()

In [ ]:
x.loc['BR']

In [ ]:
type(x)

In [ ]:
df_sum = df[['country_id','timestamp_month','traffic_source_level_1','SEK_IN_FOOD','SEK_IN_SNACKS']].groupby(['country_id','traffic_source_level_1' ])['SEK_IN_FOOD','SEK_IN_SNACKS'].sum()

In [ ]:
#let's create a a new column and calculate the rate of snacks over food
df_sum['food_snacks_rate'] = df_sum['SEK_IN_FOOD']/df_sum['SEK_IN_SNACKS']

In [ ]:
#df.loc() 
#Purely label-location based indexer for selection by label.
df_sum.loc['DE']

In [ ]:
df.loc[:10,['country_id']]