#Introduction to Python Programming 
By Farnaz Motamediyan
For Pink Programming

what is programming?:
Programming is the process of taking an algorithm(solution for a problem) and encoding it into a notation, a programming language, so that it can be executed by a computer. Although many programming languages and many different types of computers exist, the important first step is the need to have the solution. Without an algorithm there can be no program.

Data Types And Operators:

#Data Types: 
Integers, 
Floats, 
Booleans, 
Strings

#Operators: Arithmetic, Assignment, Comparison, Logical
Built-In Functions, Type Conversion
Whitespace and Style Guidelines

In [1]:
#Data Types: Integers, Floats, Booleans, Strings
1
1.08
True
"Farnaz"

'Farnaz'

In [ ]:
#integer
1
15
1067

In [ ]:
56.0

In [ ]:
23.076

In [ ]:
true
True

In [ ]:
"Farnaz"

In [3]:
#Floats
1.0
15.098
1067.66

1067.66

In [ ]:
#strings
"Hello"
"456"

In [2]:
#Operators:
#
1+2

3

In [ ]:
5*5

In [ ]:
25-9

In [ ]:
25/5

In [ ]:
1.98*10

In [ ]:
#Built-In Functions
print("hi")

In [ ]:
print(type(1))
type()

In [6]:
print(type(1.7))

<class 'float'>

In [ ]:
print(type(1))
print(type("f"))
print(type(True))

In [ ]:
type(1)

In [ ]:
#quize:
#what do you think the type of 1.98 is?
type(1.98)

#Variables 
Variables are used to store information to be referenced and manipulated in a computer program.
They also provide a way of labeling data with a descriptive name, so our programs can be understood more clearly by the reader and ourselves. It is helpful to think of variables as containers that hold information.

In [9]:
Farnaz = "Farnaz"

In [10]:
Farnaz

'Farnaz'

In [ ]:
#Variables 
#a and x and name are variables
a = '7'
x = 'Farnaz'
name = 'Farnaz'
number_of_participants = 10

In [ ]:
my_name = "farnaz"
print(my_name)

In [ ]:
my_age = 35
print(my_age)

In [ ]:
krona_spent = 200009387365.0

In [ ]:
my_last_name = 'Motamediyan'

In [ ]:
print(my_last_name)

In [12]:
#type convertion
#"2", better to have 2 as number
x = int("2")
print(type(x))

<class 'int'>

In [ ]:
number_two = int("2")

In [14]:
convert_to_int = int("123")
h = type(convert_to_int)
print(h)

<class 'int'>

In [ ]:
convert_to_str = str(1827)
str_type = type(convert_to_str)
print(str_type)

In [ ]:
convert_to_str = str(1827)

In [ ]:
"123.9"
"123,9"

In [ ]:
y = str(2)
print(type(y))

In [ ]:
True

#try it for yourself now

In [ ]:
#String Methods
len("Farnaz has 5 ballons")
type("12")
print("Hello world")

In [16]:
length = len("FarnazMotamediyan")
print(length)

17

In [18]:
"hello WORld".lower()

'hello world'

In [ ]:
#String Methods

"Hello world".lower()

In [ ]:
"Hello world".count('o')

In [19]:
#String Methods
#.split()
newstr = "The Cow Jumped Over the moon."
newstr.split()

['The', 'cow', 'jumped', 'over', 'the', 'moon.']

In [ ]:
#One important string method: format()
print("Farnaz has {} balloons".format(27))
print("Farnaz loves {} and {}".format('chips','cheese'))

In [ ]:
#String Methods
#replace()
new_str_2 = "My.name.is.Farnaz"
new_str_2.replace('.', ' ')

In [ ]:
"123.5"
"123,5"

#Data structures: 
1)Lists, 
2)Tuples, 
3)sets, 
4)Dictionaries

#Lists!
Data structures are containers that organize and group data types together in different ways. A list is one of the most common and basic data structures in Python.
You saw here that you can create a list with square brackets. Lists can contain any mix and match of the data types you have seen so far.

In [ ]:
list_of_random_things = [1, 3.4, 'farnaz', True]

In [ ]:
x = []

In [ ]:
new_list = [1, 'ff','malmo', 35]

In [ ]:
print(new_list)

In [ ]:
#quiz
# Write a list of 5 of your friends

In [ ]:
#index
print(list_of_random_things[2])
print(list_of_random_things[-1])

In [ ]:
#quiz
# return the first friend from your list of friends

In [ ]:
#Quiz: List Indexing
month = 10
days_in_month = [31,28,31,30,31,30,31,31,30,31,30,31]

# use list indexing to determine the number of days in month
num_days = days_in_month[(10-1)]
print(num_days)

In [ ]:
#Slice and Dice with Lists
list_of_random_things[1:2]

In [ ]:
list_of_random_things[:2]

In [ ]:
list_of_random_things[1:]

#Mutability and Order
Mutability is about whether or not we can change an object once it has been created. 
If an object (like a list or string) can be changed (like a list can), then it is called mutable. 
However, if an object cannot be changed with creating a completely new object (like strings), then the object is considered immutable.

Order is about whether the position of an element in the object can be used to access the element. Both strings and lists are ordered. We can use the order to access parts of a list and string.

In [21]:
#lists are mutable
my_lst = [1, 2, 3, 4, 5]
my_lst[0] = 'one'
print(my_lst)

['one', 2, 3, 4, 5]

In [ ]:
#strings are immutable
greeting = "Hello there"
greeting[0] = 'M'

#lists methods
Useful Functions for Lists I
len() returns how many elements are in a list.
max() returns the greatest element of the list. How the greatest element is determined depends on what type objects are in the list. The maximum element in a list of numbers is the largest number. The maximum elements in a list of strings is element that would occur last if the list were sorted alphabetically. This works because the the max function is defined in terms of the greater than comparison operator. The max function is undefined for lists that contain elements from different, incomparable types.
min() returns the smallest element in a list. min is the opposite of max, which returns the largest element in a list.
sorted() returns a copy of a list in order from smallest to largest, leaving the list unchanged.

Useful Functions for Lists II
join method
Join is a string method that takes a list of strings as an argument, and returns a string consisting of the list elements joined by a separator string.

append method
A helpful method called append adds an element to the end of a list.

In [22]:
new_str = "\n".join(["fore", "aft", "starboard", "port"])
print(new_str)

fore
aft
starboard
port

In [24]:
new_str = " ".join(["fore", "aft", "starboard", "port"])
new_str

'fore aft starboard port'

In [ ]:
name = "-".join(["Farnaz", "Motamediyan"])
print(name)

In [ ]:
len(name)

In [ ]:
name = "-".join(["Farnaz", "Motamediyan"])
type(name)

In [ ]:
letters = ['a', 'b', 'c', 'd']
letters.append('z')
print(letters)

In [ ]:
len(letters)

skip for now

#Tuples
A tuple is another useful container. It's a data type for immutable ordered sequences of elements. They are often used to store related pieces of information. Consider this example involving latitude and longitude:

location = (13.4125, 103.866667)
print("Latitude:", location[0])
print("Longitude:", location[1])

#Sets
A set is a data type for mutable unordered collections of unique elements. One application of a set is to quickly remove duplicates from a list.

In [ ]:
fruit = {"apple", "banana", "orange", "grapefruit"}  # define a set

print("watermelon" in fruit)  # check for element

fruit.add("watermelon")  # add an element
print(fruit)

print(fruit.pop())  # remove a random element
print(fruit)

skip for now

#Dictionaries
A dictionary is a mutable data type that stores mappings of unique keys to values. Here's a dictionary that stores elements and their atomic numbers.

In [ ]:
elements = {"hydrogen": 1, "helium": 2, "carbon": 6}
print(elements["helium"])  # print the value mapped to "helium"
elements["lithium"] = 3  # insert "lithium" with a value of 3 into the dictionary

In [ ]:
print("carbon" in elements)
print(elements.get("dilithium"))

#Control Flow:

Control flow is the sequence in which your code is run. Here, we'll learn about several tools in Python we can use to affect our code's control flow:

Conditional Statements
Boolean Expressions
For and While Loops
Break and Continue
Zip and Enumerate
List Comprehensions

In [27]:
#For and While Loops
list_numbers = [1,2,3,4]

for item in list_numbers:
    print(item*10)

10
20
30
40

In [ ]:
for item in list_numbers:
    print(item)

In [ ]:
list_numbers = [1,2,3,4]

for items in list_numbers:
    print(items*10)

In [ ]:

names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

In [ ]:
for name in names:
    name = name.lower().replace(" ", "_")
    print(name)

In [ ]:
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]
new_names = []
for name in names:
    name = name.lower().replace(" ", "_")
    new_names.append(name)

print(new_names)

In [ ]:
list_plus_one = [1+i for i in [1,2,3,4]]

In [ ]:
range(10)

In [ ]:
#list Comprehension 

list_plus_one = [1+i for i in [1,2,3,4]]

list_plus_one = [i+1 for i in [1,2,3,4]]


x = [1+i for i in range(10)]
#only returns a list! should be used when we use for loops to create a new list

In [ ]:
#List Comprehensions
new_names = [name.lower().replace(" ", "_") for name in names]
print(names)

In [ ]:
#while
i = 0
while i<10:
    print(i)
    i= i + 1

In [ ]:
#functions
def return_number_five():
    return(5)

In [ ]:
return_number_five()

In [ ]:
return_number_two()

In [ ]:
#functions
def population_density(population,land_area):
    density = population/land_area
    return(density)

In [ ]:
population_density(100, 18)

In [ ]:
# test cases for your function
test1 = population_density(10, 1)
expected_result1 = 10
print("expected result: {}, actual result: {}".format(expected_result1, test1))

In [ ]:
population_density(1000, 300)

Quiz: readable_timedelta
Write a function named readable_timedelta. The function should take one argument, an integer days, and return a string that says how many weeks and days that is. For example, calling the function and printing the result like this:

In [ ]:
#skip for now
#quiz:
    
def readable_timedelta(days):
    # use integer division to get the number of weeks
    weeks = days // 7
    # use % to get the number of days that remain
    remainder = days % 7
    return "{} week(s) and {} day(s).".format(weeks, remainder)

# test your function
print(readable_timedelta(10))

In [ ]:
#quiz:

#Write a Python function to sum all the numbers in a list and return it as total.
quiz_list = [8, 2, 3, 0, 7]

In [ ]:
#answer

def sum(numbers):
    total = 0
    for x in numbers:
        total = total + x
    return total

In [ ]:
quiz_list = [8, 2, 3, 0, 7]
print(sum(quiz_list))

quiz:
Write a Python program that accepts a hyphen-separated sequence 
of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically. Go to the editor
Sample Items : green-red-yellow-black-white
Expected Result : black-green-red-white-yellow

answer:
 .split
 .join
 .sort

In [ ]:
items=[n for n in input().split('-')]
items.sort()
print('-'.join(items))

#pyhton for data analyses
pandas packages,

In [1]:
import pandas as pd

In [2]:
#df stands for dataframe
df = pd.read_csv('final_PINK.csv')

In [3]:
df.head(10)

,country_id,traffic_source_level_1,timestamp_month,SEK_IN_FOOD,SEK_IN_DRINKS,SEK_IN_SNACKS
0,BR,direct,2019-01-01,306.0,274.816132,125.433501
1,BR,direct,2019-02-01,158.0,141.898526,110.136732
2,BR,direct,2019-03-01,169.0,151.777537,127.832416
3,BR,direct,2019-04-01,193.0,173.331743,112.539000
4,BR,direct,2019-05-01,212.0,190.395490,117.726825
5,BR,direct,2019-06-01,211.0,189.497398,116.858382
6,BR,direct,2019-07-01,183.0,164.350824,122.673353
7,BR,direct,2019-08-01,204.0,183.210755,114.201634
8,BR,direct,2019-09-01,263.0,236.198179,131.517839
9,BR,direct,2019-10-01,307.0,275.714224,133.138678

In [ ]:
df.tail()

In [ ]:
len(df)

In [4]:
df.columns

Index(['country_id', 'traffic_source_level_1', 'timestamp_month',
       'SEK_IN_FOOD', 'SEK_IN_DRINKS', 'SEK_IN_SNACKS'],
      dtype='object')

In [ ]:
df['SEK_IN_SNACKS']

In [6]:
df["country_id"]

In [ ]:
df['SEK_IN_SNACKS'][0]

In [8]:
type(df['SEK_IN_SNACKS'][1])

numpy.float64

In [ ]:
type(df['traffic_source_level_1'][10])

In [9]:
df['traffic_source_level_1'][10]

'direct'

In [10]:
df.tail()

,country_id,traffic_source_level_1,timestamp_month,SEK_IN_FOOD,SEK_IN_DRINKS,SEK_IN_SNACKS
823,SE,partnerships,00:00.0,8.91,NaN,4.37
824,SE,partnerships,00:00.0,7.12,NaN,3.76
825,SE,partnerships,00:00.0,2.51,NaN,2.90
826,SE,partnerships,00:00.0,3.34,NaN,2.49
827,SE,partnerships,00:00.0,1.67,NaN,2.02

In [ ]:
df[['country_id','traffic_source_level_1','SEK_IN_DRINKS']]

In [11]:
#we can choose only a few columns of a dataframe
df[['country_id','traffic_source_level_1','SEK_IN_DRINKS']].head()

  country_id traffic_source_level_1  SEK_IN_DRINKS
0         BR                 direct     274.816132
1         BR                 direct     141.898526
2         BR                 direct     151.777537
3         BR                 direct     173.331743
4         BR                 direct     190.395490

quiz to solve together:

I need to get the sum of SEK_IN_SNACKS group by countries and 'traffic_source_level_1'
I need to have countries, and then channels and then the sum of SEK_IN_SNACKS

In [12]:
#group by country and then return an average of values in each column with numeric data
df.groupby(['country_id']).mean()

            SEK_IN_FOOD  SEK_IN_DRINKS  SEK_IN_SNACKS
country_id
BR          3871.361111    1968.370465     796.182613
DE           783.308889     293.150796     231.550182
DK           263.405833     107.323119      86.471148
ES           151.890556      28.500959      20.428019
FI           507.621806     282.729144     259.083325
FR          1029.954861     540.368616     259.356394
GB          4336.640556    2971.292474    1568.155053
IT            72.137639      19.513010      13.693435
MX          3227.554306    2121.748510    1091.211928
NL          1044.404167     499.378421     417.157878
NO           676.710833     315.121277     303.994722
SE           736.173750     304.503832     269.900909

In [13]:
##group by country and then return an sum of values only in SEK_IN_FOOD
df.groupby(['country_id'])['SEK_IN_FOOD'].sum()

country_id
BR    139369.00
DE     56398.24
DK     18965.22
ES     10936.12
FI     36548.77
FR     74156.75
GB    312238.12
IT      5193.91
MX    232383.91
NL     75197.10
NO     48723.18
SE     53004.51
Name: SEK_IN_FOOD, dtype: float64

In [14]:
df.groupby(['country_id','traffic_source_level_1' ])['SEK_IN_SNACKS'].sum()

country_id  traffic_source_level_1
BR          direct                      1556.656190
            online                     17402.825960
            partnerships                9703.091926
DE          direct                      2032.695374
            online                     14323.325837
            partnerships                 315.591894
DK          direct                       218.005770
            online                      5979.793916
            partnerships                  28.122947
ES          direct                        19.908277
            online                      1379.825989
            partnerships                  71.083071
FI          direct                       171.720163
            online                     18436.248791
            partnerships                  46.030429
FR          direct                       651.227215
            online                     17621.493379
            partnerships                 400.939757
GB          direct                      3025.081503
            online                    107969.164649
            partnerships                1912.917632
IT          direct                        33.587649
            online                       911.936708
            partnerships                  40.402996
MX          direct                      5954.573933
            online                     53071.656296
            partnerships               19541.028565
NL          direct                       974.333273
            online                     28315.065495
            partnerships                 745.968429
NO          direct                       398.557319
            online                     20844.366244
            partnerships                 644.696448
SE          direct                      1033.822702
            online                     18319.435441
            partnerships                  79.607337
Name: SEK_IN_SNACKS, dtype: float64

now, same exercise with SEK_IN_FOOD.
what is odd about it? do you know why?
lets try and see the type for SEK_IN_FOOD:

type(df['SEK_IN_FOOD'][0])
it is stgring, but we wanted it to be integer or float. a sort of number.
so now what?

In [15]:
df['SEK_IN_FOOD'][0]

306.0

In [16]:
type(df['SEK_IN_FOOD'][0])

numpy.float64

In [17]:
df['SEK_IN_FOOD'][0].replace(",", ".")

AttributeError: 'numpy.float64' object has no attribute 'replace'

In [ ]:
len(df['SEK_IN_FOOD'])

we replaced one of the elements, but we need to change the whole dataset.
lets be more fancy, instead of a for loop we will use list Comprehension

In [18]:
df['SEK_IN_FOOD'] = [df['SEK_IN_FOOD'][i].replace(",", ".") for i in range(len(df['SEK_IN_FOOD']))]

AttributeError: 'numpy.float64' object has no attribute 'replace'

In [ ]:
#pandas.Series.astype

In [ ]:
df['SEK_IN_FOOD'] = df['SEK_IN_FOOD'].astype(float)

In [19]:
x = df[['country_id','timestamp_month','traffic_source_level_1','SEK_IN_FOOD']].groupby(['country_id','traffic_source_level_1' ])['SEK_IN_FOOD'].sum()

In [22]:
x.loc['BR']

traffic_source_level_1
direct            2776.0
online          117953.0
partnerships     18640.0
Name: SEK_IN_FOOD, dtype: float64

In [23]:
type(x)

pandas.core.series.Series

In [24]:
df_sum = df[['country_id','timestamp_month','traffic_source_level_1','SEK_IN_FOOD','SEK_IN_SNACKS']].groupby(['country_id','traffic_source_level_1' ])['SEK_IN_FOOD','SEK_IN_SNACKS'].sum()

In [25]:
#let's create a a new column and calculate the rate of snacks over food
df_sum['food_snacks_rate'] = df_sum['SEK_IN_FOOD']/df_sum['SEK_IN_SNACKS']

In [26]:
#df.loc() 
#Purely label-location based indexer for selection by label.
df_sum.loc['DE']

                        SEK_IN_FOOD  SEK_IN_SNACKS  food_snacks_rate
traffic_source_level_1
direct                      2865.69    2032.695374          1.409798
online                     52866.42   14323.325837          3.690932
partnerships                 666.13     315.591894          2.110732

In [27]:
df.loc[:10,['country_id']]

   country_id
0          BR
1          BR
2          BR
3          BR
4          BR
5          BR
6          BR
7          BR
8          BR
9          BR
10         BR