Data Types And Operators
Welcome to this lesson on Data Types and Operators! You'll learn about:

Data Types: Integers, Floats, Booleans, Strings
Operators: Arithmetic, Assignment, Comparison, Logical
Built-In Functions, Type Conversion
Whitespace and Style Guidelines

In [ ]:
#Data Types: Integers, Floats, Booleans, Strings
1
1.08
True
"Farnaz"

In [ ]:
#Operators:
1+2

In [ ]:
#Built-In Functions
Print(1+2)

In [2]:
print(type(1))
print(type("f"))

<class 'int'>
<class 'str'>

In [ ]:
#type conversation
#"2", better to have 2 as string
x = int("2")
print(type(x))

In [ ]:
#String Methods
len("this")
type(12)
print("Hello world")
len("this")
type(12)
"Hello world".lower()
"Hello world".count('o')

In [ ]:
#One important string method: format()
print("Farnaz has {} balloons".format(27))
farnaz_string = "Farnaz loves {} and {}"
print(farnaz_string.format("math","statistics"))

In [4]:
#.split()
new_str = "The cow jumped over the moon."
new_str.split()

['The', 'cow', 'jumped', 'over', 'the', 'moon.']

Data structures: 
1)Lists, 
2)Tuples, 
3)sets, 
4)Dictionaries

Lists!
Data structures are containers that organize and group data types together in different ways. A list is one of the most common and basic data structures in Python.
You saw here that you can create a list with square brackets. Lists can contain any mix and match of the data types you have seen so far.

In [ ]:
list_of_random_things = [1, 3.4, 'a string', True]
print(list_of_random_things[2])
print(list_of_random_things[-1])

In [ ]:
#Slice and Dice with Lists
list_of_random_things[1:2]
list_of_random_things[:2]
list_of_random_things[1:]

#Mutability and Order
Mutability is about whether or not we can change an object once it has been created. 
If an object (like a list or string) can be changed (like a list can), then it is called mutable. 
However, if an object cannot be changed with creating a completely new object (like strings), then the object is considered immutable.

Order is about whether the position of an element in the object can be used to access the element. Both strings and lists are ordered. We can use the order to access parts of a list and string.

In [ ]:
#lists are mutable
my_lst = [1, 2, 3, 4, 5]
my_lst[0] = 'one'
print(my_lst)

In [ ]:
#strings are immutable
greeting = "Hello there"
greeting[0] = 'M'

In [ ]:
#Quiz: List Indexing
month = 8
days_in_month = [31,28,31,30,31,30,31,31,30,31,30,31]

# use list indexing to determine the number of days in month

In [ ]:
num_days = days_in_month[(8-1)]
print(num_days)

#lists methods
Useful Functions for Lists I
len() returns how many elements are in a list.
max() returns the greatest element of the list. How the greatest element is determined depends on what type objects are in the list. The maximum element in a list of numbers is the largest number. The maximum elements in a list of strings is element that would occur last if the list were sorted alphabetically. This works because the the max function is defined in terms of the greater than comparison operator. The max function is undefined for lists that contain elements from different, incomparable types.
min() returns the smallest element in a list. min is the opposite of max, which returns the largest element in a list.
sorted() returns a copy of a list in order from smallest to largest, leaving the list unchanged.

Useful Functions for Lists II
join method
Join is a string method that takes a list of strings as an argument, and returns a string consisting of the list elements joined by a separator string.

append method
A helpful method called append adds an element to the end of a list.

In [ ]:
new_str = "\n".join(["fore", "aft", "starboard", "port"])
print(new_str)

In [ ]:
name = "-".join(["Garc√≠a", "O'Kelly"])
print(name)

In [ ]:
letters = ['a', 'b', 'c', 'd']
letters.append('z')
print(letters)

Tuples
A tuple is another useful container. It's a data type for immutable ordered sequences of elements. They are often used to store related pieces of information. Consider this example involving latitude and longitude:

location = (13.4125, 103.866667)
print("Latitude:", location[0])
print("Longitude:", location[1])

Sets
A set is a data type for mutable unordered collections of unique elements. One application of a set is to quickly remove duplicates from a list.

In [ ]:
fruit = {"apple", "banana", "orange", "grapefruit"}  # define a set

print("watermelon" in fruit)  # check for element

fruit.add("watermelon")  # add an element
print(fruit)

print(fruit.pop())  # remove a random element
print(fruit)

Dictionaries
A dictionary is a mutable data type that stores mappings of unique keys to values. Here's a dictionary that stores elements and their atomic numbers.

https://classroom.udacity.com/courses/ud1110/lessons/bedb9b4a-b551-48bc-949a-b130e640d299/concepts/47a34480-110c-4cfa-be87-73278fc1a1e3

In [ ]:
elements = {"hydrogen": 1, "helium": 2, "carbon": 6}
print(elements["helium"])  # print the value mapped to "helium"
elements["lithium"] = 3  # insert "lithium" with a value of 3 into the dictionary

In [ ]:
print("carbon" in elements)
print(elements.get("dilithium"))

Control Flow:

Control flow is the sequence in which your code is run. Here, we'll learn about several tools in Python we can use to affect our code's control flow:

Conditional Statements
Boolean Expressions
For and While Loops
Break and Continue
Zip and Enumerate
List Comprehensions

In [ ]:
#For and While Loops
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]
new_names = []
for name in names:
    name = name.lower().replace(" ", "_")
    new_names.append(name)

print(new_names)

In [100]:
#List Comprehensions
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

names=[name.lower().replace(" ", "_") for name in names]

print(names)

['joey_tribbiani', 'monica_geller', 'chandler_bing', 'phoebe_buffay']

In [ ]:
#functions

def population_density(population, land_area):
    return population/land_area

# test cases for your function
test1 = population_density(10, 1)
expected_result1 = 10
print("expected result: {}, actual result: {}".format(expected_result1, test1))

test2 = population_density(864816, 121.4)
expected_result2 = 7123.6902801
print("expected result: {}, actual result: {}".format(expected_result2, test2))

Quiz: readable_timedelta
Write a function named readable_timedelta. The function should take one argument, an integer days, and return a string that says how many weeks and days that is. For example, calling the function and printing the result like this:

In [ ]:
#quiz:
    
def readable_timedelta(days):
    # use integer division to get the number of weeks
    weeks = days // 7
    # use % to get the number of days that remain
    remainder = days % 7
    return "{} week(s) and {} day(s).".format(weeks, remainder)

# test your function
print(readable_timedelta(10))

In [ ]:
#quiz:

#Write a Python function to sum all the numbers in a list.
quiz_list = [8, 2, 3, 0, 7]
#answer:

def sum(numbers):
    total = 0
    for x in numbers:
        total += x
    return total

print(sum(quiz_list))

In [ ]:
#quiz:
#Write a Python program that accepts a hyphen-separated sequence of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically. Go to the editor
#Sample Items : green-red-yellow-black-white
#Expected Result : black-green-red-white-yellow

#answer:

items=[n for n in input().split('-')]
items.sort()
print('-'.join(items))

pyhton for data analyses
pandas packages,

In [1]:
import pandas as pd

In [133]:
#df stands for dataframe
df = pd.read_csv('final_PINK.csv', sep=';')

In [67]:
df.head()

,country_id,traffic_source_level_1,timestamp_month,SEK_IN_FOOD,SEK_IN_DRINKS,SEK_IN_SNACKS
0,BR,direct,2019-01-01,"306,0",274.816131830009,125.433501
1,BR,direct,2019-02-01,"158,0",141.898525585429,110.136732
2,BR,direct,2019-03-01,"169,0",151.777536860364,127.832416
3,BR,direct,2019-04-01,"193,0",173.331743278404,112.539000
4,BR,direct,2019-05-01,"212,0",190.395490026019,117.726825

In [68]:
df.tail()

,country_id,traffic_source_level_1,timestamp_month,SEK_IN_FOOD,SEK_IN_DRINKS,SEK_IN_SNACKS
823,SE,partnerships,2018-08-01 00:00:00.000000,8.91,NaN,4.37
824,SE,partnerships,2018-09-01 00:00:00.000000,7.12,NaN,3.76
825,SE,partnerships,2018-10-01 00:00:00.000000,2.51,NaN,2.90
826,SE,partnerships,2018-11-01 00:00:00.000000,3.34,NaN,2.49
827,SE,partnerships,2018-12-01 00:00:00.000000,1.67,NaN,2.02

In [69]:
df.columns

Index(['country_id', 'traffic_source_level_1', 'timestamp_month',
       'SEK_IN_FOOD', 'SEK_IN_DRINKS', 'SEK_IN_SNACKS'],
      dtype='object')

In [84]:
type(df['SEK_IN_SNACKS'][1])

numpy.float64

In [71]:
df['traffic_source_level_1'][10]

'direct'

In [74]:
df[['country_id','traffic_source_level_1','SEK_IN_DRINKS']].head()

  country_id traffic_source_level_1     SEK_IN_DRINKS
0         BR                 direct  274.816131830009
1         BR                 direct  141.898525585429
2         BR                 direct  151.777536860364
3         BR                 direct  173.331743278404
4         BR                 direct  190.395490026019

quiz to solve together:

I need to get the sum of SEK_IN_SNACKS group by countries and 'traffic_source_level_1'
I need to have countries, and then channels and then the sum of kycs

In [79]:
df[['country_id','timestamp_month','traffic_source_level_1','SEK_IN_SNACKS']].groupby(['country_id','traffic_source_level_1' ])['SEK_IN_SNACKS'].sum()

country_id  traffic_source_level_1
BR          direct                      1556.656190
            online                     17402.825960
            partnerships                9703.091926
DE          direct                      2032.695374
            online                     14323.325836
            partnerships                 315.591894
DK          direct                       218.005770
            online                      5979.793916
            partnerships                  28.122947
ES          direct                        19.908277
            online                      1379.825989
            partnerships                  71.083071
FI          direct                       171.720163
            online                     18436.248791
            partnerships                  46.030429
FR          direct                       651.227215
            online                     17621.493380
            partnerships                 400.939757
GB          direct                      3025.081503
            online                    107969.164650
            partnerships                1912.917632
IT          direct                        33.587649
            online                       911.936708
            partnerships                  40.402996
MX          direct                      5954.573933
            online                     53071.656297
            partnerships               19541.028566
NL          direct                       974.333273
            online                     28315.065494
            partnerships                 745.968429
NO          direct                       398.557319
            online                     20844.366244
            partnerships                 644.696448
SE          direct                      1033.822702
            online                     18319.435441
            partnerships                  79.607337
Name: SEK_IN_SNACKS, dtype: float64

now, same excercise with SEK_IN_FOOD.
what is odd about it? do you knwo why?
lets try the type:

type(df['SEK_IN_FOOD'][0])
it is stgring, but we wanted it to be integer or float. a sort of number.
so now what?

In [135]:
df['SEK_IN_FOOD']

0        306,0
1        158,0
2        169,0
3        193,0
4        212,0
5        211,0
6        183,0
7        204,0
8        263,0
9        307,0
10       299,0
11       271,0
12     10341,0
13      7988,0
14      7212,0
15      8879,0
16      9873,0
17     10083,0
18     10577,0
19     11148,0
20      9823,0
21     11659,0
22     10864,0
23      9506,0
24      1631,0
25      1379,0
26      1424,0
27      1177,0
28      1189,0
29      1359,0
        ...
798      15.93
799      24.63
800      52.16
801      28.58
802      49.98
803      16.66
804    2011.11
805    1957.93
806    2695.68
807    1985.65
808    2318.73
809    2147.34
810    1805.40
811    2193.33
812    2166.37
813    2088.62
814    2600.47
815    1829.13
816       5.34
817      14.25
818      21.38
819      10.69
820      16.04
821       8.91
822       3.56
823       8.91
824       7.12
825       2.51
826       3.34
827       1.67
Name: SEK_IN_FOOD, Length: 828, dtype: object

In [136]:
#pandas.Series.astype
df['SEK_IN_FOOD'] = pd.Series(df['SEK_IN_FOOD'], dtype='int32')

In [143]:
df['SEK_IN_FOOD']=[df['SEK_IN_FOOD'][i].replace(",", ".") for i in range(len(df['SEK_IN_FOOD']))]

In [144]:
df['SEK_IN_FOOD'][0].replace(",", ".")

'306.0'

In [145]:
df['SEK_IN_FOOD'] = df['SEK_IN_FOOD'].astype(float)

In [146]:
df[['country_id','timestamp_month','traffic_source_level_1','SEK_IN_FOOD']].groupby(['country_id','traffic_source_level_1' ])['SEK_IN_FOOD'].sum()

country_id  traffic_source_level_1
BR          direct                      2776.00
            online                    117953.00
            partnerships               18640.00
DE          direct                      2865.69
            online                     52866.42
            partnerships                 666.13
DK          direct                       422.16
            online                     18471.00
            partnerships                  72.06
ES          direct                       113.00
            online                     10492.12
            partnerships                 331.00
FI          direct                       323.73
            online                     36133.32
            partnerships                  91.72
FR          direct                      1165.65
            online                     71696.35
            partnerships                1294.75
GB          direct                      4437.21
            online                    304162.60
            partnerships                3638.31
IT          direct                       161.00
            online                      4825.91
            partnerships                 207.00
MX          direct                     10829.06
            online                    184724.98
            partnerships               36829.87
NL          direct                      1589.09
            online                     72446.92
            partnerships                1161.09
NO          direct                       448.73
            online                     47189.39
            partnerships                1085.06
SE          direct                      1110.03
            online                     51708.76
            partnerships                 185.72
Name: SEK_IN_FOOD, dtype: float64

#practice
verse = "If you can keep your head when all about you\n  Are losing theirs and blaming it on you,\nIf you can trust yourself when all men doubt you,\n  But make allowance for their doubting too;\nIf you can wait and not be tired by waiting,\n  Or being lied about, don‚Äôt deal in lies,\nOr being hated, don‚Äôt give way to hating,\n  And yet don‚Äôt look too good, nor talk too wise:"

What is the length of the string variable verse?
What is the index of the first occurrence of the word 'and' in verse?
What is the index of the last occurrence of the word 'you' in verse?
What is the count of occurrences of the word 'you' in the verse?

In [3]:
verse = "If you can keep your head when all about you\n  Are losing theirs and blaming it on you,\nIf you can trust yourself when all men doubt you,\n  But make allowance for their doubting too;\nIf you can wait and not be tired by waiting,\n  Or being lied about, don‚Äôt deal in lies,\nOr being hated, don‚Äôt give way to hating,\n  And yet don‚Äôt look too good, nor talk too wise:"
print("Verse has a length of {} characters.".format(len(verse)))
print("The first occurence of the word 'and' occurs at the {}th index.".format(verse.find('and')))
print("The last occurence of the word 'you' occurs at the {}th index.".format(verse.rfind('you')))
print("The word 'you' occurs {} times in the verse.".format(verse.count('you')))

Verse has a length of 362 characters.
The first occurence of the word 'and' occurs at the 65th index.
The last occurence of the word 'you' occurs at the 186th index.
The word 'you' occurs 8 times in the verse.